@model KUniversity.Models.Instructor

@{
    ViewData["Title"] = "课程";
    ViewData["PageTtile"] = "所有课程";

    var courses = Model.Courseassignment;
}

<style>
  a:hover {
    text-decoration: none;
  }
</style>

<div class="mdl-grid" style="width: 100%;">
  <div style="width: 100%; margin-top: 40px">
    <span style="font-size: 18px">共有 @courses.Count() 门课</span>
  </div>
  <hr style="width: 100%" />

  @for (int i = 1; i < 6; i++)
  {
      <div class="mdl-grid" style="width: 100%; margin-bottom: 30px;">
        @{
            var cses = courses.Where(c => c.ClassTimeInDayOfWeek((DayOfWeek)i));
            if (cses.Count() > 0)
            {
                <div style="width: 100%">
                  <div class="mdl-chip" style="font-size: 18px; margin-bottom: 20px; width: 60px;">
                    <span class="mdl-chip__text" style="text-align: center; width: 100%;"> 周 @i</span>
                  </div>
                </div>
              foreach (var item in courses.Where(c => c.ClassTimeInDayOfWeek((DayOfWeek)i)))
              {
                <div class="mdl-cell mdl-cell--4-col mdl-shadow--2dp"
                     style="background-color: white">
                  <div class="mdl-card__title">
                    <a asp-action="CourseScore" asp-controller="InstructorHome" 
                       asp-area="Instructor" asp-route-id="@item.Id"
                       class="mdl-button mdl-button--primary">
                      <span class="mdl-card__title-text">@item.Course.Title</span>
                    </a>
                  </div>
                  @{ var timeLocation = item.ClassTimeLocation((DayOfWeek)i); }
                  <div class="mdl-card__supporting-text">
                    <span style="float: left; margin-left: 15px">#@item.Course.Id</span>
                    <span style="float: right">
                      @timeLocation.Time 节 | 于 @timeLocation.Location | @item.Course.Department.Campus.Name
                    </span>
                  </div>
                </div>
               }
             }
        }
      </div>
}
</div>
